@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

* {
  cursor: none;
}

@media (max-width: 1024px) {
  * {
    cursor: auto;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}